.feed {
    border: 1px solid var(--border-line-color);
    border-bottom: none;
    width: 700px;
    position: relative;
    height: 200vh;
}

.top_navigation {
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid var(--border-line-color);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-color-one);
}

.navigation:nth-child(1) {
    font-weight: 700;
    color: var(--primary-color-two);
}

.navigation {
    width: 270px;
    padding: 14px 20px;
    text-align: center;
    font-size: 16px;
    color: #787c7e;
}

.navigation:hover {
    background-color: var(--bg-hover-color);
}

.navigation .name_span {
    position: relative;
}

.navigation:nth-child(1) .name_span::after {
    content: '';
    position: absolute;
    bottom: -16px;
    right: 0;
    height: 4px;
    width: 100%;
    border-radius: 60px;
    background-color: var(--primary-color-three);
}

.setting_box {
    padding: 11px 14px;
}

.a {
    color: var(--primary-color-two);
    display: flex;
    align-items: center;
    justify-content: center;
}

.a .setting_icon {
    font-size: 32px !important;
    font-weight: 300;
    padding: 6px;
    border-radius: 50%;
}


.a:hover .setting_icon {
    background-color: var(--bg-hover-color);
}

.post_section {
    padding: 18px 18px 10px 18px;
    border-bottom: 1px solid var(--border-line-color);
    /* display: none; */
}



.user_input {
    display: flex;
    align-items: center;
    gap: 6px;
}

.action_icon {
    color: var(--primary-color-three);
    font-size: 18px !important;
}

.form_control {
    background-color: transparent;
    font-size: 20px;
    width: 100%;
    text-indent: 10px;
    border: none;
    outline: none;
    color: var(--primary-color-two);
    font-family: 400;
}

.user_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 18px;
}

.icon_box {
    display: flex;
    align-items: center;
    gap: 20px;
}



.tooltip {
    background: #ffffff91;
    border-radius: 8px;
    color: #fff;
    content: "";
    font-size: 10px;
    font-weight: 700;
    padding: 6px;
    position: absolute;
    bottom: 100%;
    opacity: 0;
    right: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon_input:hover .tooltip {
    opacity: 1;
}

.icon_input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input {
    cursor: pointer;
    border: 1px solid var(--primary-color-three);
    border-radius: 6px;
    background-color: transparent;
    padding: 10px;
    font-size: 13px;
    color: var(--primary-color-three);
    width: 36%;
}

@media (max-width: 768px) {
    input {
        width: 65%;
    }

    .feed {
        width: 360px;
    }

    .icon_box {
        gap: 16px;
    }

    .post_section {
        display: none;
    }

    .user_actions {
        width: 90%;
    }

    .post_section_mob {
        position: fixed;
        background-color: #000;
        z-index: 9;
        top: 0;
        width: 370px;
        height: 100vh;
        padding: 18px 0;
        left: 0;
        display: block;
    }

    .sticky_icon_mob {
        visibility: visible !important;
    }

    .top_navigation {
        justify-content: center;
        top: 32px;
    }

    .mob_top_nav {
        display: block !important;
    }

    .setting_box {
        display: none;
    }

    .back_icon_box {
        display: block !important;
    }

    .mob_hide {
        display: block !important;
    }

}

@media (min-width: 768px) and (max-width: 884px) {
    .feed {
        width: 700px;
    }

    .top_navigation {
        top: 0;
    }

}

.sticky_icon_mob {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--primary-color-three);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 6%;
    bottom: 100px;
    z-index: 99;
    visibility: hidden;
}

.logo svg {
    width: 30px;
    filter: invert();
}

.flex_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--primary-color-one);
}

.mob_top_nav {
    display: none;
    position: sticky;
    top: 0;
    z-index: 2;
}

.backIcon {
    cursor: pointer;
}

.back_icon_box {
    display: none;
}

.mob_hide {
    display: none;
}