.sidebar {
    width: 278px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    justify-content: space-between;
    overflow: auto;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.sidebar .logo {
    margin-left: 20px;
    margin-bottom: 10px;
}

.sidebar .logo svg {
    width: 30px;
    filter: invert();
}


.btn_primary_blue {
    background-color: var(--primary-color-three);
    color: var(--primary-color-two);
    width: 240px;
    border-radius: 50px;
    font-size: 18px;
    padding: 12px 20px;
    font-weight: 700;
}

.btn_primary_blue:hover {
    background-color: #1b8ad4;
    color: #fff;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    border-radius: 60px;
    color: var(--primary-color-two);
    width: 97%;
}

.user:hover {
    background-color: var(--bg-hover-color);
}

.user_profilebox .user_name h3 {
    color: var(--primary-color-two);
    font-size: 16px;
    margin: 0;
}

.user_profilebox .user_name h4 {
    font-size: 16px;
    font-weight: 100;
    color: var(--primary-color-two);
    opacity: .5;
    margin: 0;
}

.user_profilebox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.more_icon {
    font-weight: 300;
}


.isactive span {
    font-weight: 700 !important;
}

.isntactive span {
    font-weight: 400 !important;
}