* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-one);
  color: var(--primary-color-two);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ::-webkit-scrollbar {
  background-color: rgb(66, 66, 66);
  scrollbar-color: rgb(123, 123, 123);
} */


:root {
  --primary-color-one: #000;
  --primary-color-two: #e7e9ea;
  --primary-color-three: rgb(29, 155, 240);
  --primary-color-four: rgb(32, 35, 39);
  --bg-hover-color: #91909034;
  --border-line-color: #2F3336;
  --fade-text-color: #71767b
}

.main {
  padding: 0 3%;
  display: flex;
  position: relative;
}

.theme_button {
  background-color: var(--primary-color-three);
  color: var(--primary-color-two);
  border-radius: 50px;
  font-size: 16px;
  padding: 6px 18px;
  font-weight: 700;
  border: none;
}

.theme_button:hover {
  background-color: #1b8ad4;
  color: #fff;
}

.MobNav {
  display: none;
}